@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cal-bg: white;
}

.dark {
  --cal-bg: black;
}

@layer base {
  /* Fira Sans */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
  }
  
  /* Fira Sans 500 */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/fira-sans-v18-latin-500.woff2') format('woff2');
  }
  
  /* Cormorant Garamond */
  @font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v21-latin-regular.woff2') format('woff2');
  }
  
  /* Cormorant Garamond Italic */
  @font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cormorant-garamond-v21-latin-italic.woff2') format('woff2');
  }
  
  /* Inter Bold */
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v20-latin-700.woff2') format('woff2');
  }

  /* fira-sans-300 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/fira-sans-v18-latin-300.woff2') format('woff2');
  }
  /* fira-sans-300italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/fira-sans-v18-latin-300italic.woff2') format('woff2');
  }
  /* fira-sans-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans-v18-latin-regular.woff2') format('woff2');
  }
  
  /* fira-sans-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/fira-sans-v18-latin-italic.woff2') format('woff2');
  }

  /* Noway */
  @font-face {
    font-display: swap;
    font-family: 'Noway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Noway-Regular.woff2') format('woff2');
  }

  /* Noway Italic */
  @font-face {
    font-display: swap;
    font-family: 'Noway';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Noway_Regular_Italic.woff2') format('woff2');
  }

  /* Noway Bold */
  @font-face {
    font-display: swap;
    font-family: 'Noway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Noway-Bold.woff2') format('woff2');
  }

  body {
    @apply antialiased;
  }
}

@layer components {
	.container-fluid {
		@apply px-5 md:px-10 py-24 mx-auto max-w-screen-lg;
	}

}
