@import "npm:swiper/swiper-bundle.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cal-bg: white;
}

.dark {
  --cal-bg: black;
}

@layer base {
  
  /* cormorant-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cormorant-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* cormorant-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cormorant-v24-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* cormorant-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/cormorant-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* cormorant-500italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/cormorant-v24-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Noway */
  @font-face {
    font-display: swap;
    font-family: 'Noway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noway-regular-webfont.woff2') format('woff2');
  }

  /* Noway Italic */
  @font-face {
    font-display: swap;
    font-family: 'Noway';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/noway_regular_italic-webfont.woff2') format('woff2');
  }


  body {
    @apply antialiased;
  }
}

@layer components {

	html,
	body {
		@apply font-body text-grey;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	html::-webkit-scrollbar,
	body::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	.custom-scrollbar {
		position: fixed;
		top: 0;
		right: 6px;
		width: 2px;
		height: 100%;
		pointer-events: auto;
		mix-blend-mode: difference;
		z-index: 1000;
	}

	.custom-scrollbar--modal {
		position: fixed !important;
		top: 0 !important;
		right: 6px !important;
		width: 2px !important;
		height: 100vh !important;
		mix-blend-mode: normal;
		z-index: 1000;
	}

	.custom-scrollbar--modal .custom-scrollbar-thumb {
		background: #000;
	}

	.custom-scrollbar-thumb {
		position: absolute;
		top: 0;
		right: 0;
		width: 2px;
		background: #fff;
		border-radius: 9999px;
		opacity: 0.9;
		cursor: grab;
		touch-action: none;
	}

	.custom-scrollbar-thumb:active {
		cursor: grabbing;
	}

	.modal-open .custom-scrollbar--main {
		display: none;
	}

	.container-fluid {
		@apply relative px-5 md:px-5 py-10 md:py-24 mx-auto;
	}

  section, footer, header {
    @apply relative;
  }

  /* Basis: Text darf leicht ausfaden, Linie nicht */
  li a,
  p a {
    @apply relative no-underline;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: right bottom;
    transition: background-size 0.3s;
    box-decoration-break: clone;
  }

  li a:hover,
  p a:hover {
    background-size: 0% 1px;
  }
  button {
    @apply outline-none cursor-pointer;
  }

  input {
    @apply outline-none;
  }

  [data-tooltip] {
    @apply relative;
  }

  [data-tooltip]:hover::after {
    content: attr(data-tooltip);
    @apply absolute top-full left-1/2 transform -translate-x-1/2 mt-2 px-2 py-1 text-xs bg-paper text-grey rounded whitespace-nowrap z-50 pointer-events-none;
  }

  [data-tooltip]:hover::before {
    content: '';
    @apply absolute top-full left-1/2 transform -translate-x-1/2 mt-1 border-4 border-transparent border-b-paper z-50 pointer-events-none;
  }

	html.modal-open,
	body.modal-open {
		@apply overflow-hidden;
	}

	.modal-overlay {
		overflow-y: auto;
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		scrollbar-color: #fff transparent;
	}

	.modal-overlay::-webkit-scrollbar {
		width: 6px;
	}

	.modal-overlay::-webkit-scrollbar-track {
		background: transparent;
	}

	.modal-overlay::-webkit-scrollbar-thumb {
		background: #fff;
		border-radius: 9999px;
	}

	.modal-swiper .swiper-pagination {
		position: static;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-top: 12px;
	}

	.modal-swiper .swiper-pagination-bullet {
		background: #262522;
		opacity: 0.35;
	}

	.modal-swiper .swiper-pagination-bullet-active {
		opacity: 1;
	}

}
